<h1><%= @category.name %></h1>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @all_recipes.any? %>
  <p class="lead">Select the Recipes for this Category:</p>
  <form action="/categories/<%= @category.id %>/add/recipe" method="post">
    <input type="hidden" name="_method" value="patch">
    <ul>
      <% @all_recipes.each do |recipe| %>
        <div class="checkbox">
          <input type="checkbox" name="recipe_id[]" id="<%= recipe.id %>" value="<%= recipe.id %>"><%= recipe.name %></input>
        </div>
      <% end %>
    </ul>
    <button id="add_recipes" class="btn btn-success" type="submit" name="add_recipes">Save</button>
  </form>
<% end %>

<form action="/categories/<%= @category.id %>/update" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="new_category_name">Update this category's name</label>
    <input id="new_category_name" name="new_category_name" type="text" autofocus>
  </div>
  <button class="btn btn-warning" type="submit" id="update_category" name="update_category">Update</button>
</form>

<form action="/categories/<%= @category.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <label for="delete_category">Delete this Category:</label>
  <button class="btn btn-danger" type="submit" id="delete_category" name="delete_category">Delete</button>
</form>
