<h1><%= @ingredient.name %></h1>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<form action="/ingredients/<%= @ingredient.id %>/update" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="new_ingredient_name">Update this ingredient's name</label>
    <input id="new_ingredient_name" name="new_ingredient_name" type="text" autofocus>
  </div>
  <button class="btn btn-warning" type="submit" id="update_ingredient" name="update_ingredient">Update</button>
</form>

<form action="/ingredients/<%= @ingredient.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <label for="delete_ingredient">Delete this Ingredient:</label>
  <button class="btn btn-danger" type="submit" id="delete_ingredient" name="delete_ingredient">Delete</button>
</form>
