<h1><%= @recipe.name %> Rating: <%= @recipe.rating %></h1>
<h4>Instructions:</h4>
<p><%= @recipe.instructions %></p>

<div class="row">
  <div class="col-md-6">
    <% if @categories.any? %>
      <h4>Categories that use this Recipe:</h4>
      <ul>
        <% @categories.each do |category| %>
          <li>
            <a href="/categories/<%= category.id %>"><%= category.name %></a>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @all_categories.any? %>
      <form action="/recipes/<%= @recipe.id %>/add/category" method="post">
        <p class="lead">Select the Category(ies) for this recipe:</p>
        <input type="hidden" name="_method" value="patch">
        <ul>
          <% @all_categories.each do |category| %>
            <div class="checkbox">
              <input type="checkbox" name="category_id[]" id="<%= category.id %>" value="<%= category.id %>"><%= category.name %></input>
            </div>
          <% end %>
        </ul>
        <button id="add_categories" class="btn btn-success" type="submit" name="add_categories">Save</button>
      </form>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if @ingredients.any? %>
      <h4>Ingredients used in this Recipe:</h4>
      <ul>
        <% @ingredients.each do |ingredient| %>
          <li>
            <a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @all_ingredients.any? %>
      <form action="/recipes/<%= @recipe.id %>/add/ingredient" method="post">
        <p class="lead">Select the Ingredients for this Recipe:</p>
        <input type="hidden" name="_method" value="patch">
        <ul>
          <% @all_ingredients.each do |ingredient| %>
            <div class="checkbox">
              <input type="checkbox" name="ingredient_id[]" id="<%= ingredient.id %>" value="<%= ingredient.id %>"><%= ingredient.name %></input>
            </div>
          <% end %>
        </ul>
        <button id="add_ingredients" class="btn btn-success" type="submit" name="add_ingredients">Save</button>
      </form>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form action="/recipes/<%= @recipe.id %>/update" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <label for="new_recipe_name">Update this recipe's name</label>
        <input id="new_recipe_name" name="new_recipe_name" type="text" autofocus>
      </div>
      <button class="btn btn-warning" type="submit" id="update_recipe" name="update_recipe">Update</button>
    </form>
  </div>
  <div class="col-md-6">
    <form action="/recipes/<%= @recipe.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <label for="delete_recipe">Delete this Recipe:</label>
      <button class="btn btn-danger" type="submit" id="delete_recipe" name="delete_recipe">Delete</button>
    </form>
  </div>
</div>
