<h1><%= @recipe.name %> Rating: <%= @recipe.rating %></h1>
  <div class="col-md-4">
    <h4>Instructions:</h4>
    <p><%= @recipe.instructions %></p>
  </div>

  <div class="col-md-4">
    <% if @ingredients.any? %>
      <h4>Ingredients:</h4>
      <ul>
        <% @ingredients.each do |ingredient| %>
          <li>
            <a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col-md-4">
    <% if @categories.any? %>
      <h4>Categories that use this Recipe:</h4>
      <ul>
        <% @categories.each do |category| %>
          <li>
            <a href="/categories/<%= category.id %>"><%= category.name %></a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

<div class="form-bottom-1 block-center col-md-4 col-md-offset-4">
  <p class="text-center">Edit this Recipe</p>
  <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning stretch" role="button">Edit</a>
</div>
